<ion-header>
  <ion-navbar>
    <ion-title>
      {{appTitle}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <div *ngIf="user!=null">
  <ion-grid >
    <ion-row>
      <ion-col col-12 text-right>
        <ion-label (press)="actions()">Welcome {{user.UserID}}!</ion-label>
      </ion-col>
      <ion-col col-12 text-left>
        <button ion-button color="secondary" round outline (click)="createChatRoom()">Create Chat Room</button>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-list>
  <ion-item *ngFor = "let topic of topics" (click)="enterChat(topic)">
    <ion-label>{{topic.Name}}</ion-label>
    <ion-note item-end>{{topic.Description}}</ion-note>
  </ion-item>
</ion-list>
</div>
</ion-content>
