chat {

}
.other_message {
    background-color: gainsboro;
    color: black;
    border-radius: 18px;
}

.user_message {
    background-color: rgb(124, 155, 255);
    color: black;
    border-radius: 18px;
    margin-left: 25%;
}
.message_holder {
    padding-left: 10px;
}
.message_info {
    text-align: right;
    width: 100%;
    font-size: 10px;
    color:gray;
}
.message_text {
    color:black !important;
    word-wrap: break-word;
    white-space: normal;
}
.message_user {

}
.message_date{

}
.load_more {
    text-align: center;
}
.load_more p {
    margin: 0;
}