<ion-header>
  <ion-toolbar>
    <ion-title>
      {{topic.Name}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content padding>   
   <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="totalMessagesNumber>displayMessagesNumber">
        <ion-refresher-content refreshingText="loading messages..."></ion-refresher-content>
    </ion-refresher>
    <div class="load_more" *ngIf="totalMessagesNumber>displayMessagesNumber">
        <p>load more messages</p>
    </div>
  <ion-list no-lines>
    <ion-item *ngFor="let msm of messages">
      <ion-row>
          <ion-col col-9 class="message" [ngClass]="{'user_message': msm.fkUserID[0]._id === user._id, 'other_message': msm.fkUserID[0]._id !== user._id}">
              <div class="message_holder">
                <p class="message_text">
                  {{msm.Text}}
                </p>
              </div>
         </ion-col>
         <div class="message_info" [ngStyle]="{'margin-right':msm.fkUserID[0]._id===user._id?'0%':'25%'}">
            <span class="message_user">
                {{msm.fkUserID[0].UserID}}
              </span>
              <span class="message_date">
                {{msm.DateCreated | date:'MM/dd hh:MM a'}}
              </span>
        </div>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-item no-lines>
            <ion-textarea type="textarea" placeholder="Message" [(ngModel)]="message"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <button ion-button round full (click)="sendMessage()" [disabled]="message === ''">Send</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>