<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-label>Welcome to Amazing Chat</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-label>{{label}}</ion-label>
      <ion-list>
        <ion-item>
          <ion-label floating>UserName</ion-label>
          <ion-input type="text" [(ngModel)]="user.UserID"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.Password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-item>
        <p>
          {{infoMessage}} <button ion-button color="light" (click)="switch()">{{oppositeLabel}}</button>
        </p>
      </ion-item>
      <ion-item text-left>
      <button ion-button (click)="action()">{{label}}</button>        
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
